body {
   padding:10px;
   background-color: beige;
   
}

h1,p{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

label {
    display:block;
    margin:12px 0 12px 0;
}

form {
    width:100%;
    max-width:500px;
    margin:auto;   
    padding:10px;
    box-shadow:2px 4px 6px gray;
   
}

.sub-btn {
    display:block;
    margin:20px auto 10px  auto;
    background-color: goldenrod;
    width:40%;
    height:25px;
}

fieldset {
    border:none;
}

input:not([type="radio"]):not([type="checkbox"]) ,select {
    display:block;
     width:70%;
     min-height: 2em;
    
}
input,select {
    margin:10px 0 0 0;
   

}

a{
    text-decoration: none;
    margin-top:10px;
    display:block;
}
