body {
   padding:10px;
   background-color: beige;
   
}

h1,p{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    display:block;
    margin:12px 0 0 0;
}

form {
    width:100%;
    max-width:500px;
    justify-content: center;
    margin:auto;   
    padding:10px;
   
}

.sub-btn {
    display:block;
    margin:20px auto 10px  auto;
    background-color: goldenrod;
    width:40%;
    height:25px;
}

fieldset {
    border:none;
}