body {
   padding:10px;
}

h1,p{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    display:block;
    margin:12px 0 0 0;
}

form {
    background-color:darkgray;
    width:100%;
    max-width:500px;
    justify-content: center;
    margin:auto;
    
   
}